.navbar-container {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    z-index: 100;

}

.navbar-content {
    background-color: #282c34;
    padding-inline: 5%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar-container .logo a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

.navbar-container .navbar-btn {
    font-size: 30px;
    display: flex;
    justify-content: space-around;
}


.navbar-container .navbar-btn a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.navbar-container .navbar-btn a:hover,
.navbar-container .navbar-btn .active{
    color: #6f6fb5;
    box-shadow: inset 0 -2px 0 0 #6f6fb5;
}

.navbar-drawer {
    position: fixed;
    background-color: #282c34;
    top: 9%;
    right: -40%;
    padding: 10px;
    width: 100%;
    height: 100vh;
    animation-name: sideDrawer;
    animation-duration: .3s;
    animation-timing-function: linear;

}

@keyframes sideDrawer {
    from {
        right: -100%;
    }
    to {
        right: -40%;
    }

}

@media only screen and (max-width: 576px) {
    .navbar-container .navbar-btn {
        font-size: 30px;
        display: grid;
        justify-content: left;
    }

    .navbar-container .navbar-btn a {
        margin-block: 10px;
        font-size: 24px;
    }

}