.photo-showcase {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hobby {
    color: #00d4ff;
    text-align: center;
}

@media only screen and (max-width: 430px) {

    .hobby {
        color: #00d4ff;
        display: grid;
        justify-items: center;
        text-align: center;
    }
    .photo-showcase {
        display: grid;
        justify-items: center;
    }
}

@media only screen and (max-width: 768px) {

    .hobby {
        color: #00d4ff;
        display: grid;
        justify-items: center;
        padding-inline: 1rem;

    }

    .hobby h1{
        font-size: 24px;
    }
}
