.techstack-container {
    color: white;
    padding-inline: 5rem;
    padding-block: 3rem;
    text-align: center;

}

.techstack-container h1{
   margin-top: 0;
    color: #00d4ff;
}

.techstack-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.techstack-icon img:hover{
    transform: scale(1.4);
}

.techstack-icon img{
    margin: 20px;
}

@media only screen and (max-width: 430px) {
    .techstack-container {
        color: white;
        padding-inline: 1rem;
        padding-block: 1.5rem;
        text-align: center;

    }

    .techstack-icon img{
        width: 1.9rem;
    }

    .techstack-container h1{
        font-size: 24px;
    }

}
