.main-container {
}

.my-avatar {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    overflow: hidden;

}

.avatar-border {
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 20px;
    width: 21rem;
    height: 21rem;
    animation-name: avatar;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.intro h1 {
    margin: 0;
    color: #6f6fb5;
}
.intro h3 {
    margin: 0;
    color: #00d4ff;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation:
            typing 3.5s steps(40, end) infinite,
            blink-caret .75s step-end infinite;
}


@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #6f6fb5 }
}

.intro p {
    font-family: "YuKyokasho Yoko";
    margin-bottom: 10px;
}

.intro a{
    background-color: #00d4ff;
    color: white;
    border-radius: 10px;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    text-decoration: none;
    font-size: 24px;
    margin-block: 1rem;
}

.intro a:hover{
    background-color: #6f6fb5;
}

.intro h5 {
    margin: 0;
}

/*@keyframes avatar {*/
/*    0% {*/
/*        background: linear-gradient(60deg, rgba(2,0,36,1) 0%, rgba(111,111,181,1) 50%, rgba(0,212,255,1) 100%);;*/
/*        transform: rotate(0deg);*/
/*    }*/
/*    25% {*/
/*        background: linear-gradient(60deg, rgba(2,0,36,1) 0%, rgba(111,111,181,1) 50%, rgba(0,212,255,1) 100%);;*/
/*        transform: rotate(15deg);*/
/*    }*/
/*    50% {*/
/*        background: linear-gradient(60deg, rgba(2,0,36,1) 0%, rgba(111,111,181,1) 50%, rgba(0,212,255,1) 100%);;*/
/*        transform: rotate(0deg);*/
/*    }*/
/*    75% {*/
/*        background: linear-gradient(60deg, rgba(2,0,36,1) 0%, rgba(111,111,181,1) 50%, rgba(0,212,255,1) 100%);;*/
/*        transform: rotate(-15deg);*/

/*    }*/
/*    100% {*/
/*        background: linear-gradient(60deg, rgba(2,0,36,1) 0%, rgba(111,111,181,1) 50%, rgba(0,212,255,1) 100%);;*/
/*        transform: rotate(0deg);*/

/*    }*/
/*}*/

.my-avatar img {
    position: relative;
    right: 25%;
    bottom: 50%;
}

@media only screen and (max-width: 576px) {
    .intro {
        font-size: 24px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom,rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../asset/myself.jpeg") no-repeat 0 -6rem;
        background-size: contain;
        background-attachment: fixed;
        padding-bottom: 20px;
        text-align: center;

    }
    .intro p{
        text-align: left;
    }
    @keyframes typing {
        from { width: 0 }
        to { width: 85% }
    }


}

@media only screen and (min-width: 576px) {
    .intro {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        font-size: 36px;
        color: white;
        min-height: 30rem;
        width: 100%;
        background: linear-gradient(to bottom,rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../asset/myphoto/DSC04994.JPG");
        background-size: cover;
        background-attachment: fixed;
        flex-wrap: wrap;
    }
    @keyframes typing {
        from { width: 0 }
        to { width: 72% }
    }

}

